{% extends "layout.html" %}
{% block content %}

      <p>
      These are the tasks that you've completed!
      <hr>
        
        <ul>
          {% for task in tasks %}
            <div class="list-group">
              <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ task[0] }}</h5>
                  <small>{{ task[2] }}</small>
                </div>
                <p class="mb-1">{{ task[4] }}</p>
                <small>Prio: {{ task[1] }}</small>
              </a>
            </div>
        
            {% endfor %}
        </ul>
        
       
    </div>
    <div class="col-4">
      <h2>To-Do-List</h2>
      <p>
        An app made for keeping track of your tasks! Using To-Do-List may increase your productivity.
        Start by creating a personal task to learn the basics. You can also keep track of your groups or friends
        tasks by creating a Project. Tasks you create inside the project are shared between you and your group.
        Everyone can create tasks, comment or mark tasks as done inside the project!
      </p>
        <p>
          <hr>
          {% if session.user_id %}
        <a href="/" class="btn-secondary btn-lg active" role="button" aria-pressed="true">Return to Front Page</a>
          {% endif %}
          <hr>
          <a href="https://github.com/VoxBorealis/To-Do-List-Web-Application">GitHub</a>
          <hr>


    </div>
  </div>
</div>
{% endblock %}




