{% extends "layout.html" %}
{% block content %}
<hr>

<h4>Well done, here are the tasks that you've completed so far!</h4>
<hr>
<ul>
    {% for task in tasks %}
      <div class="list-group">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task[0] }}</h5>
            <small>{{ task[2] }}</small>
          </div>
          <p class="mb-1">{{ task[4] }}</p>
          <small>Prio: {{ task[1] }}</small>
        </a>
      </div>

      {% endfor %}
  </ul>


{% endblock %}