{% extends "layout.html" %}
{% block content %}
<hr>
      <p>
        {% if session.user_id %}
        <p>Welcome back, <b>{{ session.username }}</b></p>
        <p>You are working on personal tasks</p>
        <form action="/new_task" method="POST">
          {{ task_form.csrf_token }}
          <div class="form-group">

                {{ task_form.task.label(class='form-control-label') }}

                {% if task_form.task.errors %}
                {{ task_form.task(class='form-control form-control is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in task_form.task.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ task_form.task(class='form-control form-control-') }}
                {% endif %}
                Priority
                {{ task_form.priority(class='form-control form-control') }}
                <hr>
                {{ task_form.submit(class="btn btn-primary") }}
                <hr>
        </div>
        
        <ul>
          {% for task in tasks %}
            <div class="list-group">
              <a href="/tasks/{{ task[3] }}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ task[0] }}</h5>
                  <small>{{ task[2] }}</small>
                </div>
                <p class="mb-1">{{ task[4] }}</p>
                <small>Prio: {{ task[1] }}</small>
              </a>
            </div>
    
            {% endfor %}
        </ul>

        
        {% else %}
        A quick and easy way to keep track of your tasks.
      <p>
        Start by logging in!
        <form action="/login" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
              {{ form.username.label(class='form-control-label') }}

                {% if form.username.errors %}
                {{ form.username(class='form-control form-control is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class='form-control form-control-') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}

                {% if form.password.errors %}
                {{ form.password(class='form-control form-control- is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control form-control') }}
                {% endif %}
            </div>
            <p style="color: tomato;">{{ error }}</p>
            {{ form.submit(class="btn btn-primary") }}
          </form>
          <hr>
          <medium class="text-muted">
              <a href="/register">Click here to register!</a>
          </medium>
          {% endif %}
    </div>
    <div class="col-4">
      <h2>To-Do-List</h2>
      <p>
        An app made for keeping track of your tasks! Using To-Do-List may increase your productivity.
        Start by creating a personal task to learn the basics. You can also keep track of your groups or friends
        tasks by creating a Project. Tasks you create inside the project are shared between you and your group.
        Everyone can create tasks, comment or mark tasks as done inside the project!
      </p>
          {% if session.user_id %}
        <hr>
        <a href="/completed" class="btn-secondary btn-lg active" role="button" aria-pressed="true">View Completed Tasks</a>
          {% endif %}
          <hr>
          <a href="https://github.com/VoxBorealis/To-Do-List-Web-Application">GitHub</a>
          <hr>


    </div>
  </div>
</div>
{% endblock %}