{% extends "layout.html" %}
{% block content %}
<hr>
<p>
    <p>
    <h3>Register</h3>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.username.label(class='form-control-label') }}

            {% if form.username.errors %}
            {{ form.username(class='form-control form-control is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class='form-control form-control-') }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class='form-control-label') }}

            {% if form.password.errors %}
            {{ form.password(class='form-control form-control- is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class='form-control form-control') }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.password_confirm.label(class='form-control-label') }}

            {% if form.password_confirm.errors %}
            {{ form.password_confirm(class='form-control form-control is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.password_confirm.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password_confirm(class='form-control form-control') }}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}

        <hr>
        <medium class="text-muted">
            Already have an account? <a href="/">Log In</a>
        </medium>
      </form>
</div>
<div class="col-4">
    <h2>To-Do-List</h2>
    <p>
      An app made for keeping track of your tasks! Using To-Do-List may increase your productivity.
      Start by creating a personal task to learn the basics. You can also keep track of your groups or friends
      tasks by creating a Project. Tasks you create inside the project are shared between you and your group.
      Everyone can create tasks, comment or mark tasks as done inside the project!
    </p>  
</div>
{% endblock %}
