{% extends "layout.html" %}
{% block content %}

      <p>
        <p>
        Task Editing

        <hr>

        <div class="list-group">
          <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ task }}</h5>
              <small>{{ time }}</small>
            </div>
            <p class="mb-1">{{ comment[0] }}</p>
            <small>Prio: {{ priority }}</small>
          </a>
        </div>

          <form action="/tasks/{{id}}" method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="done" value="no">
            <div class="form-group">
              {{ form.comment.label(class='form-control-label') }}

                {% if form.comment.errors %}
                {{ form.comment(class='form-control form-control is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.comment.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.comment(class='form-control form-control-') }}
                {% endif %}
              </div>
            {{ form.submit(class="btn btn-primary") }}

          </form>
          <hr>

        <form action="/tasks/{{id}}" method="POST">
            <input type="hidden" name="done" value="yes">
            <button type="submit" class="btn btn-primary">Task Done!</button>
        </form>

    </div>
    <div class="col-4">
      <h2>Did you know?</h2>
      <p>
        Vestibulum at consectetur mi, vel ultrices leo. Nam rhoncus viverra velit, sed pretium tortor ultricies a. In ullamcorper metus sem, vel porttitor erat volutpat euismod. Nulla facilisi. Nam facilisis, odio quis condimentum fringilla, risus eros vehicula leo, a malesuada odio ante sit amet mauris. Praesent accumsan massa ut lorem pulvinar, non luctus erat laoreet. Etiam pulvinar libero at sapien lacinia, et vulputate nunc semper. Maecenas lobortis diam eu neque ultricies tempor. Vivamus efficitur eros ut feugiat fermentum. Quisque orci magna, commodo eget erat eu, tincidunt hendrerit nisl. 
        <p>
          {% if session.user_id %}
        <a href="/completed" class="btn-secondary btn-lg active" role="button" aria-pressed="true">View Completed Tasks</a>
          {% endif %}
          <hr>
        <a href="https://github.com/VoxBorealis/To-Do-List-Web-Application">GitHub</a>
        <hr>
      <a href="/logout">Log Out</a>
    </div>
    </div>
  </div>
</div>
{% endblock %}