<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>What To Do!?</title>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>To-Do-List</h1>
        A quick and easy way to keep track of your tasks.
      <p>
        <p>
        hejssan!
        <p> id: {{ id }}
        <p> creator: {{ creator_id }} 
        <p> task: {{ task }}
        <p> prio: {{ priority }}
        <p> time: {{ time }} 
        <p> done: {{ done }}
        <p> comment: {{ comment }}

          <form action="/tasks/{{id}}" method="POST">
            <div class="form-group">
              <label for="new_comment">Leave a comment</label>
              <input type="text" name="new_comment" class="form-control" id="username">
              <data type="text" name="id" value=id> 
              <small id="emailHelp" class="form-text text-muted">Description</small>
            </div>
            
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>

        <form action="/tasks/{{id}}" method="POST">
            <button type="submit" class="btn btn-primary">Task Done!</button>
        </form>

    </div>
    <div class="col-4">
      <h2>Did you know?</h2>
      <p>
        Vestibulum at consectetur mi, vel ultrices leo. Nam rhoncus viverra velit, sed pretium tortor ultricies a. In ullamcorper metus sem, vel porttitor erat volutpat euismod. Nulla facilisi. Nam facilisis, odio quis condimentum fringilla, risus eros vehicula leo, a malesuada odio ante sit amet mauris. Praesent accumsan massa ut lorem pulvinar, non luctus erat laoreet. Etiam pulvinar libero at sapien lacinia, et vulputate nunc semper. Maecenas lobortis diam eu neque ultricies tempor. Vivamus efficitur eros ut feugiat fermentum. Quisque orci magna, commodo eget erat eu, tincidunt hendrerit nisl. 
    </div>
  </div>
</div>
