{% extends "layout.html" %}
{% block content %}

      <p>
        <p>
        Task Editing

        <hr>

        <div class="list-group">
          <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ task }}</h5>
              <small>{{ time }}</small>
            </div>
            <p class="mb-1">{{ comment[0] }}</p>
            <small>Prio: {{ priority }}</small>
          </a>
        </div>

          <form action="/tasks/{{id}}" method="POST">
            <div class="form-group">
              <label for="new_comment">Leave a comment</label>
              <input type="text" name="new_comment" class="form-control" id="username">
              <data type="text" name="id" value=id> 
              <small id="emailHelp" class="form-text text-muted">Description</small>
            </div>
            
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
          <hr>
        <form action="/tasks/{{id}}" method="POST">
            <button type="submit" class="btn btn-primary">Task Done!</button>
        </form>

    </div>
    <div class="col-4">
      <h2>Did you know?</h2>
      <p>
        Vestibulum at consectetur mi, vel ultrices leo. Nam rhoncus viverra velit, sed pretium tortor ultricies a. In ullamcorper metus sem, vel porttitor erat volutpat euismod. Nulla facilisi. Nam facilisis, odio quis condimentum fringilla, risus eros vehicula leo, a malesuada odio ante sit amet mauris. Praesent accumsan massa ut lorem pulvinar, non luctus erat laoreet. Etiam pulvinar libero at sapien lacinia, et vulputate nunc semper. Maecenas lobortis diam eu neque ultricies tempor. Vivamus efficitur eros ut feugiat fermentum. Quisque orci magna, commodo eget erat eu, tincidunt hendrerit nisl. 
        <p>
          {% if session.user_id %}
        <a href="/completed" class="btn-secondary btn-lg active" role="button" aria-pressed="true">View Completed Tasks</a>
          {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock %}